<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<script data-main="../../resource/js/app" src="../../resource/js/lib/require-2.1.11.min.js"></script>
	<script type="text/javascript">
	require({
			baseUrl: "../../resource/js/lib",
			paths: {
				app: "../app",
				jquery: "jquery-1.11.3.min"
			}
		},
		["app/util","app/Model", "jquery"], 
		function(util,Model, $){
			debugger;
			//用来保存资源的对象
			Model.records = {};

			var Asset = Model.create();
			var asset = Asset.init();
			asset.save();
			console.log(asset.id);
		}
	);
	</script>
</body>
</html>