<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<script data-main="../../resource/js/app" src="../../resource/js/lib/require-2.1.11.min.js"></script>
	<script type="text/javascript">
	require({
			baseUrl: "../../resource/js/lib",
			paths: {
				app: "../app",
				jquery: "jquery-1.11.3.min"
			}
		},
		["app/util","app/Model", "jquery"], 
		function(util,Model, $){
			//用来保存资源的对象
			var Asset = Model.create();
			var asset = Asset.init({ name: "foo"});
			asset.save();

			//正确传入资源
			util.assertEqual(Asset.find(asset.id).name, "foo");

			//更改属性，而没有调用update()
			asset.name = "wem";
			debugger;
			//出问题了
			util.assertEqual(Asset.find(asset.id).name, "foo");
			
		}
	);
	</script>
</body>
</html>