<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<script data-main="../../resource/js/app" src="../../resource/js/lib/require-2.1.11.min.js"></script>
	<script type="text/javascript">
	require({
		baseUrl: "../../resource/js/lib",
		paths: {
			app: "../app",
			jquery: "jquery-1.11.3.min"
		}
	}, ["app/util", "app/Model", "jquery"],
	function(util, Model, $) {
		var Events = {
			bind: function(){
				if(!this.o) this.o = $({});
				this.o.bind.apply(this.o, arguments);
			},
			trigger: function(){
				if(!this.o) this.o = $({});
				this.o.trigger.apply(this.o, arguments);
			}
		};

		var StateMachine = function(){};
		StateMachine.fn = StateMachine.prototype;

		//添加事件绑定或触发行为
		$.extend(StateMachine.fn, Events);
		StateMachine.fn.add = function(controller){
			this.bind("change", function(e, current){
				if(controller == current){
					controller.active();
				}else{
					controller.deactivate();
				}
			});
			controller.active = $.proxy(function(){
				this.trigger("change", controller);
			}, this);
		};
	});
	</script>
</body>
</html>